@charset "utf-8";

header {
	padding: 100px;
}

/* title_1の設定 */
header h1 {
	margin: 100px auto 5px auto;
	text-align: center;
	font-size: 100px;
	font-weight: bold;
	margin-bottom: 40px;
	white-space: nowrap;

}

header h2 {
	font-size: 30px;
	text-align: center;
}

/* title_2, 3, 4,...の設定*/
h1 {
	padding: 20px;
	text-align: center;
	font-size: 65px;
	text-align: center;
	font-weight: bold;
	white-space: nowrap;
	margin-bottom: 20px;
}

/* slide1 */
.slide1 p {
	padding: 15px;
	margin: auto 40px auto auto;
	margin-bottom:15em;
	text-align: right;
	font-size: 30px;
	font-weight: bold;
/*	text-decoration: underline; */
}

div p {
	padding: 10px;
	margin: 10px auto 10px 40px;
	font-size: 24px;
	font-weight: bold;
	font-size: 35px;
}

div pre {
	padding: 10px;
	margin: 10px auto 10px 40px;
	font-size: 24px;
	font-weight: bold;
	font-size: 35px;
}

/*** スライド二枚目  ***/
.slide2 h1 {
	margin-bottom: 40px;
	margin: 150px auto 40px auto;
	font-size: 80px;
}
.slide2 p {
	text-align: center;
}

/*** スライド三枚目 ***/
.slide3 h1 {
	margin-bottom: 40px;
	margin: 100px auto 30px auto;
}
.slide3 p {
	margin: auto auto auto 80px;
}
	
/*** スライド四枚目 ***/
.slide h1 {
	margin: 50px auto auto auto;
}
.slide4 p {
	margin: auto auto auto 80px;	
}


a {
	padding: 10px;
	margin: 10px;
	color: #666;
	text-decoration: underline;
	font-size: 24px;
	font-weight: bold;
}

img {
	padding: 10px;
}

div div img {
	margin: 20px auto 20px 40px; /* 上右下左 */
	border-radius: 20px; /* 角に丸見をつける */
}
