@charset "utf-8";

/* title_1の設定 */
header h1 {
	padding: 120px;
	margin: 100px auto 20px auto;
	text-align: center;
	font-size: 100px;
	font-weight: bold;
	margin-bottom: 60px;
	white-space: nowrap;

}

/* title_2, 3, 4,...の設定*/
h1 {
	padding: 30px;
	text-align: center;
	font-size: 65px;
	font-weight: bold;
	white-space: nowrap;
}

/* slide1 */
.slide1 p {
	padding: 15px;
	margin: auto 40px auto auto;
	margin-bottom:15em;
	text-align: right;
	font-size: 30px;
	font-weight: bold;
/*	text-decoration: underline; */
}

div p {
	padding: 10px;
	margin: 10px auto 10px 40px;
	font-size: 24px;
	font-weight: bold;

}

a {
	padding: 10px;
	margin: 10px;
	color: #666;
	text-decoration: underline;
	font-size: 24px;
	font-weight: bold;
}

img {
	padding: 10px;
}

div div img {
	margin: 20px auto 20px 40px; /* 上右下左 */
	border-radius: 30px; /* 角に丸見をつける */
}
