@charset "utf-8";



/* title_1の設定 */
header h1 {
	padding: 120px;
	text-align: center;
	font-size: 80px;
	font-weight: bold;
	margin-bottom: 60px;
	white-space: nowrap;

}

/* title_2, 3, 4,...の設定*/
h1 {
	padding: 10px;
	text-align: left;
	font-size: 65px;
	font-weight: bold;
	white-space: nowrap;
}

/* slide1 */
.slide1 p {
	padding: 15px;
	text-align: right;
	font-size: 24px;
	font-weight: bold;
/*	text-decoration: underline; */
}

div p {
	padding: 10px;
	font-size: 24px;
	font-weight: bold;

}

a {
	padding: 10px;
	margin: 10px;
	color: #666;
	text-decoration: underline;
	font-size: 24px;
	font-weight: bold;
}

img {
	padding: 10px;
}
